::ng-deep .owl-nav {
  position: absolute;
  top: -85px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
}

::ng-deep .owl-carousel {
  position: relative;
}

@media (max-width: 991.98px) {
  ::ng-deep .owl-nav {
    top: unset;
    justify-content: center;
    bottom: -20px;
  }
}
