<!-- Home Banner Style V8 -->
<section class="home-banner-style8 p0 aboutpage">
  <div class="home-style8">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12 col-xl-8 m-auto text-center">
          <div class="inner-banner-style8">
            <h1 class="hero-title">
              Boost Your Revenu Through Real Estate With JustStake
            </h1>
            <p class="hero-text">
              Helping investors and sellers maximize their real estate profits.
            </p>
            <a
              [routerLink]="'/register'"
              class="ud-btn banner-btn fw600 btn-thm mt20 mt20-xs"
              >Let’s Get Started! <i class="fal fa-arrow-right-long"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Explore Apartment -->
<section class="pb90 pb30-md bgc-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="main-title wow fadeInUp" data-wow-delay="100ms">
          <h2 class="h3 title text-white mb30">
            Transforming Real Estate Into A Globally Accessible And Highly
            Liquid Asset Class
          </h2>
          <p class="text text-white">
            Real estate is one of the most promising asset classes for building
            long-term wealth. However, it faces significant challenges
            worldwide, including complex processes, illiquidity, and
            inaccessibility. Additionally, there are considerable risks due to
            unreliable connections and extensive paperwork.
          </p>
          <p class="text text-white">
            JustStake is an world-class digital real estate investment platform
            that efficiently overcomes these traditional obstacles. We carefully
            filter and offer high-value properties and manage a seamless
            investment journey from acquisition to exit. With JustStake,
            investors can gain access to premium real estate opportunities and
            can earn passive income for a lifetime.
          </p>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 wow fadeInUp" data-wow-delay="300ms">
        <div class="row">
          <div class="col-sm-12">
            <div class="iconbox-home9 position-relative mb30">
              <h4 class="text-white iconbox-title mb15">
                Borderless Investments
              </h4>
              <p class="text-white text mb-0 fz15">
                Investors worldwide can diversify their portfolios by purchasing
                premium properties in the United Arab Emirates and Saudi Arabia.
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="iconbox-home9 position-relative mb30">
              <h4 class="text-white iconbox-title mb15">
                Fractional Ownership
              </h4>
              <p class="text-white text mb-0 fz15">
                Enabling shared property investments, lowering capital barriers
                and increasing access to high-value real estate.
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="iconbox-home9 position-relative mb30">
              <h4 class="text-white iconbox-title mb15">
                Hassle-Free Management
              </h4>
              <p class="text-white text mb-0 fz15">
                We provide end-to-end investment handling, including property
                acquisition, rental management, and profitable exits.
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="iconbox-home9 position-relative mb30">
              <h4 class="text-white iconbox-title mb15">Consistent Returns</h4>
              <p class="text-white text mb-0 fz15">
                We ensure long-term financial growth through rental income and
                appreciation in property values.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How We Help -->
<section class="pb90 pb30-md">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="iconbox-style2 bgc-thm-light">
          <div class="cust-icon2 icon">
            <svg
              id="fi_9119230"
              enable-background="new 0 0 68 68"
              viewBox="0 0 68 68"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="_x31_01">
                <g>
                  <g>
                    <path
                      d="m47.9 59.8c-8.6 8.6-24.4 6.6-35.4-4.3-10.9-11-12.8-26.9-4.2-35.4l2.7-2.7 39.7 39.6z"
                      fill="#6B77E8"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="m50.5 57.2c-8.6 8.6-24.4 6.6-35.4-4.3-11-11-12.9-26.8-4.3-35.4s24.4-6.6 35.3 4.3c3.3 3.3 5.8 7.1 7.4 10.9.5 1.3 1 2.5 1.3 3.8 2.2 7.8.8 15.6-4.3 20.7z"
                      fill="#6B77E8"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="m43.5 24.5c8.5 8.5 10 20.8 3.4 27.5s-19 5.1-27.5-3.4-10-20.8-3.4-27.5 19-5.1 27.5 3.4z"
                      fill="#fff"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="m40.9 27.1c6.2 6.2 7.3 15.2 2.5 20s-13.8 3.8-20-2.5c-6.2-6.2-7.3-15.2-2.5-20s13.8-3.7 20 2.5z"
                      fill="#6B77E8"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="m38.1 29.9c4 4 4.7 9.7 1.6 12.8s-8.8 2.4-12.8-1.6-4.7-9.7-1.6-12.8 8.9-2.4 12.8 1.6z"
                      fill="#fff"
                    ></path>
                  </g>
                  <g>
                    <path
                      d="m35.5 32.5c1.9 1.9 2.3 4.7.8 6.3-1.6 1.5-4.4 1.2-6.3-.8-1.9-1.9-2.3-4.7-.8-6.2s4.3-1.2 6.3.7z"
                      fill="#6B77E8"
                    ></path>
                  </g>
                  <g opacity=".2">
                    <path
                      d="m54.9 36.6-21.7.1c-2.5 0-2.6-3.8 0-3.8l20.4-.1c.5 1.3.9 2.5 1.3 3.8z"
                      fill="#1d2943"
                    ></path>
                  </g>
                </g>
                <g>
                  <path
                    d="m17.4 50.6c-2.6-1.9-4.7-4.5-6.2-7.3-1.5-2.9-2.4-6.1-2.3-9.3.9 3.1 2 6 3.5 8.7 1.4 2.7 3.1 5.3 5 7.9z"
                    fill="#fff"
                  ></path>
                </g>
                <g>
                  <path
                    d="m60.1 7.9c.8.8.8 2 0 2.7l-25.6 25.5c-.7.7-1.9.7-2.7 0-.7-.7-.7-1.9 0-2.7l25.6-25.5c.8-.8 2-.8 2.7 0z"
                    fill="#1d2943"
                  ></path>
                </g>
                <g>
                  <path
                    d="m59.7 10.9 4.5 1.3c.8.2 1.1 1.2.5 1.8l-1.2 1.2c-.5.5-1.3.7-2 .5l-1.5-.4.3.3c.8.8.8 2.1 0 2.9l-2.5 2.5c-.5.5-1.3.7-2 .5l-5.2-1.5z"
                    fill="#6B77E8"
                  ></path>
                </g>
                <g>
                  <path
                    d="m57.1 8.2-1.3-4.5c-.2-.8-1.2-1.1-1.8-.5l-3.6 3.6c-.5.5-.7 1.3-.5 2l.4 1.5-1-1c-.4-.4-1.1-.4-1.5 0l-.8.9c-.5.5-.7 1.3-.5 2l1.5 5.1z"
                    fill="#6B77E8"
                  ></path>
                </g>
                <g>
                  <path
                    d="m50.2 16.8c.9-1.2 2-2.4 3.1-3.5.6-.5 2.4-2.3 1.7-1.6.6-.5 1.2-1 1.8-1.5-.5.6-1 1.2-1.5 1.8s-1.1 1.1-1.6 1.7c-1.1 1.1-2.2 2.1-3.5 3.1z"
                    fill="#fff"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="iconbox-content">
            <h4 class="fz30 title mb10">Our Vision</h4>
            <p class="text fz15">
              Make real estate investing simple, flexible, and accessible to
              everyone by providing access to valuable real estate assets.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="iconbox-style2 bgc-thm-light">
          <div class="cust-icon2 icon">
            <svg
              id="fi_2493945"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path d="m256 151h-106v210h106 106v-210z" fill="#453d83"></path>
                <path d="m256 151h106v210h-106z" fill="#2d2755"></path>
                <path
                  d="m135 46c-24.853 0-45 20.147-45 45v15l30 30h30l30-30v-15c0-24.853-20.147-45-45-45z"
                  fill="#5f55af"
                ></path>
                <path
                  d="m180 106h-90l-75.961 203.467 192.145 24.952z"
                  fill="#979fef"
                ></path>
                <path
                  d="m206.184 334.419c-11.827-45.039-52.436-78.419-101.184-78.419-39.159 0-72.911 21.689-90.961 53.467-8.681 15.282-14.039 32.702-14.039 51.533 0 57.99 47.01 105 105 105s105-47.01 105-105c0-9.241-1.573-18.043-3.816-26.581z"
                  fill="#5f55af"
                ></path>
                <circle cx="105" cy="361" fill="#fff5f5" r="45"></circle>
                <path
                  d="m377 46c24.853 0 45 20.147 45 45v15l-30 30h-30l-30-30v-15c0-24.853 20.147-45 45-45z"
                  fill="#453d83"
                ></path>
                <path
                  d="m332 106h90l75.961 203.467-192.145 24.952z"
                  fill="#6b77e8"
                ></path>
                <path
                  d="m305.816 334.419c11.827-45.039 52.436-78.419 101.184-78.419 39.159 0 72.911 21.689 90.961 53.467 8.681 15.282 14.039 32.702 14.039 51.533 0 57.99-47.01 105-105 105s-105-47.01-105-105c0-9.241 1.573-18.043 3.816-26.581z"
                  fill="#453d83"
                ></path>
                <circle cx="407" cy="361" fill="#efe2dd" r="45"></circle>
              </g>
            </svg>
          </div>
          <div class="iconbox-content">
            <h4 class="fz30 title mb10">Our Mission</h4>
            <p class="text fz15">
              Maintain your position as the world's leading real estate
              investment platform by continuing to transform how investors own,
              sell, and rent property.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Funfact -->
<section class="bgc-thm-light3 pb90 pb30-md">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-xl-5 wow fadeInRight" data-wow-delay="100ms">
        <div class="cta-style6 mb30-sm">
          <h2 class="title mb25">
            Shaping The Future of Real Estate Investments Through Expert
            Innovation
          </h2>
          <p class="text fz15">
            We do one thing, and we do it well. Since our inception, JustStake
            has been bridging the gap between real estate investors and
            high-value properties. Our diverse team of 97+ professionals brings
            decades of expertise across real estate, technology, financial
            services, consulting, and related industries. With our extensive
            industry knowledge and innovative approach, we offer investors easy
            access to lucrative properties and maximize growth potential.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-6 offset-xl-1 wow fadeInLeft"
        data-wow-delay="300ms"
      >
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="funfact-style1 text-center">
              <ul class="ps-0 mb-0 d-flex justify-content-center">
                <li><div class="timer title mb15">97+</div></li>
                <li><span>+</span></li>
              </ul>
              <p class="fz15 dark-color">Team of professionals</p>
            </div>
            <div class="funfact-style1 text-center">
              <ul class="ps-0 mb-0 d-flex justify-content-center">
                <li><div class="timer title mb15">200+</div></li>
                <li><span>+</span></li>
              </ul>
              <p class="fz15 dark-color">Property <br />sold</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="funfact-style1 text-center">
              <ul class="ps-0 mb-0 d-flex justify-content-center">
                <li><div class="timer title mb15">1k+</div></li>
                <li><span>+</span></li>
              </ul>
              <p class="fz15 dark-color">Properties for <br />rent</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="pb100 pb30-md">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="100ms">
        <div class="main-title">
          <h2 class="title">Hear What Our Investors Need To Say!</h2>
          <p class="paragraph mt20">Trusted By Investors Worldwide.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- <div
          class="testimonial-slider navi_pagi_top_right slider-3-grid owl-carousel owl-theme wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="item">
            <div class="testimonial-style1 position-relative bdr1">
              <div class="testimonial-content">
                <span class="icon fas fa-quote-left"></span>
                <p class="text">
                  “The platform is too easy to use. I can invest in any property
                  so easily. I now own fractions of properties in Dubai,
                  receiving regular rental income in my wallet. Really no
                  hassle, no management; just earnings!”
                </p>
                <div class="testimonial-review">
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a href=""><i class="fas fa-star"></i></a>
                </div>
              </div>
              <div class="thumb d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="mb-0">Mathew Turner</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-style1 position-relative bdr1">
              <div class="testimonial-content">
                <span class="icon fas fa-quote-left"></span>
                <p class="text">
                  “Properties listed on the platform have really great
                  appreciation. Just a few months back, I bought a property; and
                  it’s not even a year; the rates are booming!”
                </p>
                <div class="testimonial-review">
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a href=""><i class="fas fa-star"></i></a>
                </div>
              </div>
              <div class="thumb d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="mb-0">Jeffrey Ellis</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-style1 position-relative bdr1">
              <div class="testimonial-content">
                <span class="icon fas fa-quote-left"></span>
                <p class="text">
                  “JustStake’s biannual exit window is revolutionary! I can sell
                  my shares at any time and access cash whenever needed. It’s
                  quite reassuring to have this flexibility. Property
                  investments are much more dynamic and convenient.”
                </p>
                <div class="testimonial-review">
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a href=""><i class="fas fa-star"></i></a>
                </div>
              </div>
              <div class="thumb d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="mb-0">Flynn Dafoe</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-style1 position-relative bdr1">
              <div class="testimonial-content">
                <span class="icon fas fa-quote-left"></span>
                <p class="text">
                  “Investing in JustStake’s properties has been the best
                  decision I made! I bought real estate shares in a few clicks,
                  and rental income started flowing soon after. The
                  accessibility and the steady returns just excite me to keep on
                  investing more.”
                </p>
                <div class="testimonial-review">
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a href=""><i class="fas fa-star"></i></a>
                </div>
              </div>
              <div class="thumb d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="mb-0">Luna Williams</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-style1 position-relative bdr1">
              <div class="testimonial-content">
                <span class="icon fas fa-quote-left"></span>
                <p class="text">
                  “Before signing up for JustStake, I had no idea it would be so
                  easy to own a stake! It's as simple as shopping. Well, thanks
                  for making investments accessible and effortless.”
                </p>
                <div class="testimonial-review">
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a href=""><i class="fas fa-star"></i></a>
                </div>
              </div>
              <div class="thumb d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="mb-0">Robert Tony</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-style1 position-relative bdr1">
              <div class="testimonial-content">
                <span class="icon fas fa-quote-left"></span>
                <p class="text">
                  “Impressive liquidity access! Last month, I sold some of the
                  shares I owned on the secondary market and was pleasantly
                  surprised by how quickly I was able to access my money. The
                  process was fast and seamless!”
                </p>
                <div class="testimonial-review">
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a class="me-1" href=""><i class="fas fa-star"></i></a>
                  <a href=""><i class="fas fa-star"></i></a>
                </div>
              </div>
              <div class="thumb d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="mb-0">Viktor Legetsky</h6>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <owl-carousel-o
          *ngIf="testimonials.length"
          [options]="testimonialsOptions"
        >
          <ng-container *ngFor="let testimonial of testimonials">
            <ng-template carouselSlide>
              <div class="item">
                <div class="testimonial-style1 position-relative bdr1">
                  <div class="testimonial-content">
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">
                      {{ testimonial.text }}
                    </p>
                    <div class="testimonial-review">
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a class="me-1" href=""><i class="fas fa-star"></i></a>
                      <a href=""><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-grow-1">
                      <h6 class="mb-0">{{ testimonial.name }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<!-- Our CTA -->
<section class="our-cta p-0">
  <div class="cta-banner bgc-thm pt60 pb60 position-relative">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-xl-6 wow fadeInLeft">
          <div class="cta-style1">
            <h3 class="cta-title text-white mb20">Ready to get started?</h3>
            <p class="text mb-0 text-white">
              JustStake can help you accelerate your growth
            </p>
          </div>
        </div>
        <div class="col-lg-5 col-xl-6 wow fadeInRight" data-wow-delay="300ms">
          <div
            class="cta-btns-style1 d-block d-sm-flex align-items-center justify-content-lg-end"
          >
            <a [routerLink]="'/register'" class="ud-btn btn-white"
              >Invest now!<i class="fal fa-arrow-right-long"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
