<!-- Our Compare Area -->
<section class="our-compare">
  <div class="background-video">
    <video
      preload="metadata"
      src="assets/front/images/juststake.mp4"
      poster=""
      autoplay=""
      loop=""
      muted="muted"
      playsinline=""
      controlslist="nodownload"
      class="web-video"
    ></video>
  </div>
  <div class="container">
    <div class="row wow fadeInRight" data-wow-delay="300ms">
      <div class="col-lg-5 m-auto">
        <div
          class="log-reg-form sell-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12"
        >
          <div class="mb40">
            <!-- <img class="mb25" src="images/header-logo2.svg" alt=""> -->
            <h3>Forgot your Password</h3>
          </div>
          <div class="mb25">
            <label class="form-label fw600 dark-color">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>

          <div class="d-grid mb20">
            <button class="ud-btn btn-thm" type="button">
              Reset Password <i class="fal fa-arrow-right-long"></i>
            </button>
          </div>

          <p class="dark-color text-center mb0 mt10">
            <a class="dark-color fw600" [routerLink]="'/login'"
              >Back to Login</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
